<div class="container">
    <table>
        <thead>
            <tr>
                <th>Naam</th>
                <th>Beschrijving</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of budgetbooks">
                <td>{{book.name}}</td>
                <td>{{book.description}}</td>
                <td><button routerLink="../budgetbook/edit/{{book.id}}">Wijzig</button></td>
            </tr>
        </tbody>
    </table>
</div>

