h1 {
    text-align: center;
}

html, body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overview-component {
  flex: 2;
}

.budgetbook-form-component {
  flex: 1;
  padding-right: 20px;
}

.container {
  display: flex;
  padding: 20px;
}